table {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
body {
    background-color: beige;
}
#results {
    margin-top: 50px;
}
table, th, td {
    text-align: center;
}
th {
    background-color: lightgray;
}
tr:nth-child(odd){
    background-color: white;
}
tr:nth-child(even){
    background-color: #F6F5F3;
}
#search-form {
    margin-left: 20px;
    display: inline-block;
    flex-flow: row wrap;
    align-items: center; position: relative;
}
#search-body {
    border: black 1px solid;
    height: 200px;
    width: 900px;
    background-color: lightgray;
    margin-left: 10px;
}
h1, #error {
    text-align: center;
}
#error {
    color: red;
}
#suggestions, #search, .name {
    width: 500px;
}
#search {
    position: absolute; top: 0px; left: 40px;
    height: 20px;
}
#suggestions {
    padding-top: 0px;
    position: absolute; top: 30px; left: 40px;
    background-color: white;
}
.name {
    display: block;
}
.name-active {
    background-color: lightgray;
}
#search-button {
    position: absolute; top: 0px; left: 600px;
}
#reset-button {
    margin-left: 20px;
    position: absolute; top: 0px; left: 700px;
}
h3, h4 {
    margin-left: 60px;
    margin-top: 0;
}
tr:hover {
    background-color: lightgray;
}
.button {
    background-color: #F6F5F3;
    border: 1px white solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 2px 18px;
}
